<div class="footer">
    <div class="left_footer">
        <p>Renewcykle</p>
        <span>
                Providing affordable and renewable energy through Solar
                Powered inverters made from plastic and electronic waste.                
        </span>
    </div>
    <div class="middle_footer">
        <p>LINKS</p>
        <ul class="links">
            <li><a href="/about">About us</a></li>
            <li><a href="/howwework">How we work</a></li>
            <li><a href="/team">Our team</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/gallery">Gallery</a></li>
        </ul>
    </div>
    <div class="right_footer">
        <p>CONTACTS</p>
        <span>Federal University of Technology Owerri where we buid Federal University of Technology Owerri where we buid
                Federal University of Technology Owerri where we buid
        </span><br />
        <span>
            <h5>Subscribe for our newsletter</h5>
            <form>
                <input id="news_input" type="text" placeholder="Enter your email..."/>
                <button id="news_button" type="submit">Subscribe</button>
            </form>
        </span>
    </div>
</div>