<nav>
        <header>Renewcykle</header>
        <ul class="navigation__link">
                <li><a href="/about">ABOUT US</a></li>  <!-- Our services, contact us, FAQs-->
                <li><a href="/howwework">HOW WE WORK</a></li>
                <li><a href="/team">OUR TEAM</a></li>
                <li><a href="/gallery">GALLERY</a></li>
                <li><a href="/blog">BLOG</a></li>
                <li><a href="/login">LOGIN</a></li>
                <li><a style="color: #fff;" class="signup" href="/signup">SIGNUP</a></li>
        </ul>
    </nav>